name: CI

on:
  pull_request:
  push:
    branches: main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: freckle/stack-action@v5

      # NOTE: This step tests execution in the context of an action, and is here
      # so that it uses the branch-built binary. The test-action matrix exists
      # separately to test the _installation_ portion of the action only, which
      # is affected by operating system.
      - uses: ./
        with:
          arguments: --format gha --path test/examples/lts-18.18.yaml --no-exit
          executable: stack exec -- stack-lint-extra-deps
          no-install: true

  test-action:
    strategy:
      matrix:
        runner:
          - ubuntu-latest
          - macos-latest

      fail-fast: false

    runs-on: ${{ matrix.runner }}

    steps:
      - uses: actions/checkout@v6
      - uses: ./
        with:
          run: false
      - run: stack-lint-extra-deps --version

  nix:
    strategy:
      matrix:
        runner:
          - ubuntu-latest
          - macos-13
          - macos-latest
    runs-on: ${{ matrix.runner }}
    continue-on-error: true
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v16
        with:
          name: freckle
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Check
        run: nix flake check --accept-flake-config --print-build-logs --keep-going
