name: CI

on:
  pull_request:
  push:
    branches: main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - id: stack
        uses: freckle/stack-action@v5
      - uses: actions/upload-artifact@v4
        with:
          name: binary
          path: |
            ${{ steps.stack.outputs.local-bin }}/stack-lint-extra-deps

  test-action:
    needs: test
    strategy:
      matrix:
        runner:
          - ubuntu-latest
          - macos-latest

      fail-fast: false

    runs-on: ${{ matrix.runner }}

    steps:
      - uses: actions/checkout@v5
      - uses: actions/download-artifact@v4
        with:
          name: binary
          path: /usr/local/bin
      - uses: ./
        with:
          arguments: --format gha --path test/examples/lts-18.18.yaml --no-exit
          no-install: true

  nix:
    strategy:
      matrix:
        runner:
          - ubuntu-latest
          - macos-13
          - macos-latest
    runs-on: ${{ matrix.runner }}
    continue-on-error: true
    steps:
      - uses: actions/checkout@v5
      - uses: cachix/install-nix-action@v31
      - uses: cachix/cachix-action@v16
        with:
          name: freckle
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Check
        run: nix flake check --accept-flake-config --print-build-logs --keep-going
