name: CI

on:
  pull_request:
  push:
    branches: main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: freckle/stack-action@v5
      - uses: ./
        with:
          arguments: --format gha --path test/examples/lts-18.18.yaml --no-exit
          executable: stack exec -- stack-lint-extra-deps
          no-install: true

  test-action:
    strategy:
      matrix:
        runner:
          - ubuntu-latest
          - macos-12

      fail-fast: false

    runs-on: ${{ matrix.runner }}

    steps:
      - uses: actions/checkout@v4
      - uses: ./
        with:
          arguments: --path test/examples/lts-18.18.yaml --no-exit

  nix:
    strategy:
      matrix:
        runner:
          - ubuntu-latest
          - macos-12
          - macos-latest
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v26
      - uses: cachix/cachix-action@v14
        with:
          name: freckle
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Check
        run: nix flake check --accept-flake-config --print-build-logs --keep-going
