name: Release

on:
  push:
    branches:
      - main
      - rc/*

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            suffix: x86_64-linux
          - os: macos-13
            suffix: x86_64-osx
          - os: macos-latest
            suffix: arm64-osx

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6

      # Do a dry-run release in order to update package.yaml before compilation,
      # so the --version option works correctly.
      - uses: cycjimmy/semantic-release-action@v4
        with:
          dry_run: true
          extra_plugins: |
            conventional-changelog-conventionalcommits
            @semantic-release/exec
        env:
          FORCE_COLOR: 1
          GITHUB_TOKEN: ${{ github.token }}

      - run: |
          mkdir -p dist/stack-lint-extra-deps

      - id: stack
        uses: freckle/stack-action@v5
        with:
          stack-build-arguments: >-
            --local-bin-path ./dist/stack-lint-extra-deps
            --copy-bins

      - run: |
          ./dist/stack-lint-extra-deps/stack-lint-extra-deps --version
          tar -C dist -czf ./stack-lint-extra-deps-${{ matrix.suffix }}.tar.gz ./stack-lint-extra-deps

      - uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.os }}-binaries
          path: "stack-lint-extra-deps-*.tar.gz"
          if-no-files-found: error

  release:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: actions/download-artifact@v7

      - id: release
        uses: cycjimmy/semantic-release-action@v4
        with:
          extra_plugins: |
            conventional-changelog-conventionalcommits
            @semantic-release/exec
        env:
          FORCE_COLOR: 1
          GITHUB_TOKEN: ${{ secrets.RELEASE_GITHUB_TOKEN }}
