name: SLED

on:
  schedule:
    # Twice a month, every ~two weeks
    - cron: "0 0 01 * *"
    - cron: "0 0 15 * *"
  workflow_dispatch:

  pull_request:
    paths:
      - .github/workflows/sled.yml

jobs:
  auto-fix-stack-yaml:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: cachix/install-nix-action@v31

      - uses: ./
        with:
          arguments: --fix --no-exit

      - name: Update stack.yaml.lock
        run: stack build --dry-run

      - name: Update all-cabal-hashes.json
        run: git diff --exit-code stack.yaml.lock || ./bin/update-all-cabal-hashes

      # Use a token to ensure CI runs on the created PR
      - id: token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.FRECKLE_AUTOMATION_APP_ID }}
          private-key: ${{ secrets.FRECKLE_AUTOMATION_PRIVATE_KEY }}

      - id: create
        uses: peter-evans/create-pull-request@v7
        with:
          branch: sled/auto-fix
          title: "Update Haskell dependencies"
          commit-message: "fix(deps): update Haskell dependencies"
          base: main
          token: ${{ steps.token.outputs.token }}

      - if: ${{ steps.create.outputs.pull-request-operation == 'created' }}
        run: gh pr merge --rebase --auto "$GH_PR"
        env:
          GH_PR: ${{ steps.create.outputs.pull-request-number }}
          GH_TOKEN: ${{ steps.token.outputs.token }}
